/* CSS for html file */
body {
	background-color: #DDDDDD;
	margin: 0;
}
#passages{
	color: red;
	float: right;
}
img {
	height: 100px;
}
h1, .txtw{
	font-family: 'Myriad Pro';
	color: white;	
}
h1 {
	font-size: 70px;
}
.txtw{
	font-size: 40px;
}
#cadre {
	height: 870px;
	width: 90%;
	border-radius: 70px;
	background-color: #333333 ;
	margin: 1% 5%;
	padding: 1% 2% 0% 2%;
}
.ligneblanche {
	height: 10px;
	background-color: white; 
}
#surcadre {
	height: 650px;
	border-radius: 30px;
	background-color: white ;
}
/*.img-ligne{
	display: grid;
	align-items: center;
}*/
.dest-ligne{
	/*padding: 20px 10%;*/
	display: grid;
	grid-template-columns: 2fr 8fr 2fr ;
	gap: 5px;
}
.dest-txt{
	font-size: 50px;
}
.time-txt{
	font-size: 50px;
}
