/* CSS for html file */
body {
	background-color: #DDDDDD;
	margin: 0;
}
#passages{
	color: red;
	float: right;
}
img {
	height: 100px;
}
.main-grid {
	display: grid;
	grid-template-columns: 5fr 1fr;
	margin-bottom: 10px;
}
.main, .txtfix, .txth{
	font-family: "Oxygen";
	color: white;	
}
.main, .dest-txt, .time-txt{
	font-size: 70px;
}
.txth{
	width: 65%;
	border-radius: 40px;
	background-color: white;
	color: #333333;
	justify-self: center;
	align-self: center;
	font-size: 70px;
}
.txtfix{
	font-size: 40px;
	padding-bottom: 4px;
}
#cadre {
	height: 110% ;
	width: 90%;
	border-radius: 70px;
	background-color: #333333 ;
	margin: 1% 3% 1% ;
	padding: 1% 2% 1% 2%;
}
.colfix {
	display: grid;
	grid-template-columns: 2fr 8fr 2fr ;
	gap: 20px;
}
.ligneblanche {
	height: 10px;
	background-color: white; 
}
.lignegrise {
	height: 4px;
	background-color: lightgray; 
}
#surcadre {
	height: 700px;
	border-radius: 30px;
	background-color: white ;
}
.ligne-img{
	display: flex;
	justify-self: center;
	align-self: center;
	font-size: 70px;
}
.dest-ligne{
	display: grid;
	align-items: center;
	padding: 10px 0;
	/*row-gap: 10px;*/
}
.infoth {
	display: flex;
	justify-content: flex-end;
}
div.time-txt>span, div.version>span {
	font-size: 40px;
}