<div class="card center">
    <h2>Informations importantes</h2>
    En raison de la récente fusion des réseau M TAG et M TouGo,
    <br>
    tous les ârrets du réseau M réso ne sont pas encore disponible sur le site.
    <br><br>
    Des bugs de connexion au serveur peuvent aussi survenir avec les lignes ayant changer de numéro.
    <br><br>
    Nous travaillons sur un correctif au problème. (Le réseau pays voironnais rèste 100% non-fonctionnel)
    <br><br>
    <i>L'équipe IGdev </i>
</div>
<div class="cards">
    <div class="card">
        <h2>Informations Complémentaires</h2>
        <ul>
            <li>Tous les arrêts TAG sont disponibles</li>
            <li>Tous les arrêts des Pays Voironnais sont disponibles</li>
            <li>Tous les arrêts du réseau TouGo sont disponible</li>
            <li>Toutes les lignes Transisère, aux arrêts TAG, Pays Voironnais Mobilité et TouGo sont disponible</li>
        </ul>
    </div>
    <div class="card">
        <h2>Crédits</h2>


        <ul>
            <li>Données issues de <a class="underlineLink"
                    href="https://www.mobilites-m.fr/pages/opendata/OpenDataApi.html">l'open data
                    Metromobilités.</a></li>
            <li>Les icones des lignes sont la propriété de <a class="underlineLink" href="https://www.m-tag.fr/">M
                    TAG</a>
            <li>Script par <a class="underlineLink" href="https://github.com/kelyaenn">Kelyaenn</a></li>
            <li>HTML5 & CSS & TS par <a class="underlineLink" href="https://github.com/Citadis">Citadis</a>, <a
                    class="underlineLink" href="https://github.com/kelyaenn">Kelyaenn</a> et <a class="underlineLink"
                    href="https://github.com/Borisi1234">Fred Epsilon</a>
            </li>
        </ul>
    </div>
</div>