<div class="menuTop">
    <div class="imgTitle">IGdev Departure Board</div>
    <div class="rightMenu">
        <a href="https://github.com/Citadis" class="underlineLink">Citadis</a>
        <a href="https://github.com/kelyaenn" class="underlineLink">Kelyaenn</a>
        <a href="https://github.com/FredEpsilon" class="underlineLink">FredEpsilon</a>
        <a href="https://www.mobilites-m.fr/pages/opendata/OpenDataApi.html" class="underlineLink">Open Data</a>
        <a href="https://github.com/IGdev-Studios/igdev_dep_board" class="underlineLink">Repo Github</a>
    </div>
</div>