<div class="mainTitleWrapper">
    <div class="title">Tableau des départs M réso et Pays Voironais Mobilité</div>
    <div class="mainButtons">
        <a class="titleButton" href="departs.html?network=Mréso"> <img
                src="https://upload.wikimedia.org/wikipedia/fr/f/f1/M_Réso_logo.svg" alt="M réso" /></a>

        <a class="titleButton" href="departs.html?network=tpv" class="titleButton"><img
                src="https://upload.wikimedia.org/wikipedia/fr/thumb/4/4a/Logo_Pays_Voironnais_Mobilité.svg/640px-Logo_Pays_Voironnais_Mobilité.svg.png"
                alt="Pays Voironnnais Mobilité" /></a>
    </div>
</div>